<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- Server Configuration -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMathOperations" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/maths" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMathOperations" contract="ServiceReference1.IMathOperations"
        name="BasicHttpBinding_IMathOperations" />
    </client>
    <services>
      <service name="WcfFun.MathOperations">
        <endpoint
  address="http://localhost:8733/mathoperationservice"
  binding="wsHttpBinding"
  contract="WcfFun.IMathOperations" />
      </service>
    </services>
  </system.serviceModel>

</configuration>